@import "tailwindcss";

@theme inline {
  --color-primary: #223971;
  --color-secondary: #ffffff;
  --color-accent: #EC2526;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}